@charset "utf-8";
@import "grid";
@import "header";
@import "decks";
@import "repositories";
@import "issues";

// Colors

// Text
// #2d271e

// Other
// #fff
// #666663
// #f2dec5
// #e0c295
// #c6903e
// linear-gradient(#e0c295, #f2dec5)

// Main


a {
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

.main {
  background-color: rgba(242, 222, 197, 0.35);
}

.right {
  text-align: right;
}

.hide {
  display: none;
}
