@charset "utf-8";
@import "grid";
@import "header";
@import "decks";
@import "repositories";

// Colors

// Text
// #2d271e

// Other
// #fff
// #666663
// #f2dec5
// #e0c295
// linear-gradient(#e0c295, #f2dec5)

// Main


a {
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

.issue {
  padding: 0 10%;
}

.issues_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.hide {
  display: none;
}
